@charset "UTF-8";
.enter1 {
  -webkit-animation: come 0.75s 1 0.5s forwards;
  animation: come 0.75s 1 0.5s forwards;
  opacity: 0; }

.enter2 {
  -webkit-animation: come 0.75s 1 1s forwards;
  animation: come 0.75s 1 1s forwards;
  opacity: 0; }

@-webkit-keyframes come {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes come {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  font-family: "Libre Baskerville", serif;
  color: #231F20;
  background: #fdfaf0;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 0%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66666666667%; }

  .two.columns {
    width: 13.3333333333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.6666666667%; }

  .five.columns {
    width: 39.3333333333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.6666666667%; }

  .eight.columns {
    width: 65.3333333333%; }

  .nine.columns {
    width: 74.0%; }

  .ten.columns {
    width: 82.6666666667%; }

  .eleven.columns {
    width: 91.3333333333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 33.33%; }

  .two-thirds.column {
    width: 65.3333333333%; }

  .one-half.column {
    width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }
@media (min-width: 300px) {
  .container {
    width: 100%; } }

@media (min-width: 1200px) {
  .no-hd {
    display: none; } }

@media (min-width: 300px) {
  .hd-only {
    display: none; } }
@media (min-width: 1200px) {
  .hd-only {
    display: block; } }

h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: normal;
  font-family: "Abril Fatface", cursive;
  color: #231F20; }

h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: normal; }

h1 {
  line-height: 3rem;
  letter-spacing: -.1rem; }
  @media (min-width: 300px) {
    h1 {
      font-size: 4rem; } }
  @media (min-width: 750px) {
    h1 {
      font-size: 3.6rem; } }
  @media (min-width: 1000px) {
    h1 {
      font-size: 3.8rem; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4.8rem; } }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2rem; }

.date {
  font-size: 1.2rem; }

.subsub {
  font-size: 1.85rem;
  font-style: italic;
  text-transform: capitalize; }

.sub {
  margin: 0 0 2rem 0; }
  .sub--education {
    margin: 0; }

p {
  margin-top: 0;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  letter-spacing: 0.01rem; }
  @media (min-width: 300px) {
    p {
      font-size: 1.6rem;
      word-spacing: 0.15rem;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      line-height: 2.5rem; } }
  @media (min-width: 1000px) {
    p {
      font-size: 1.5rem;
      word-spacing: 0.1rem;
      line-height: 2.5rem;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; } }
  @media (min-width: 1200px) {
    p {
      font-size: 1.6rem;
      word-spacing: 0.15rem;
      line-height: 2.8rem; } }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #cf4a37;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid #fdfaf0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

a:hover {
  border-bottom: 1px solid #cf4a37; }

:focus {
  background-color: transparent;
  outline: none; }

ul {
  padding: 0;
  margin: 0;
  margin-left: 2rem; }

li {
  line-height: 2.8rem;
  font-size: 1.6rem;
  list-style-position: outside;
  margin-bottom: 1rem; }

button,
.button {
  width: 100%; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1.5rem; }

.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

.splash {
  text-align: center; }
  .splash .jobrole {
    font-size: 1.7rem;
    line-height: 3rem; }

aside {
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 3rem; }
  @media (min-width: 300px) {
    aside {
      width: 100%;
      position: relative; } }
  @media (min-width: 750px) {
    aside {
      width: 33.333%;
      position: fixed; } }
  @media (min-width: 1000px) {
    aside {
      width: 25%; } }

.profile-pic {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 4rem;
  max-width: 180px;
  height: auto;
  border: 1px solid #231F20; }

.content {
  max-width: 660px;
  margin: 0 auto;
  padding: 3rem;
  box-sizing: border-box; }
  @media (min-width: 300px) {
    .content {
      width: 100%;
      margin: 0; } }
  @media (min-width: 750px) {
    .content {
      width: 55%;
      margin: 0 35%; } }
  @media (min-width: 1000px) {
    .content {
      width: 75%;
      margin: 0 25%;
      position: relative;
      left: 20%;
      -webkit-transform: translateX(-20%);
      -ms-transform: translateX(-20%);
      transform: translateX(-20%); } }

.socials {
  bottom: 4rem;
  margin: 0; }
  @media (min-width: 300px) {
    .socials {
      position: relative;
      left: 0;
      bottom: 0rem; } }
  @media (min-width: 1000px) {
    .socials {
      margin-left: 0;
      position: absolute;
      left: 10rem; } }
  .socials li {
    display: inline-block;
    width: 25px;
    margin: 3rem 0.8rem; }
    .socials li img {
      width: 100%;
      opacity: 1; }
      .socials li img:hover {
        opacity: 0.7; }
    .socials li a:hover {
      border-bottom: none; }

.breakdown {
  padding: 0;
  padding-right: 10%;
  display: inline-block;
  vertical-align: top;
  margin-left: 0; }
  @media (min-width: 300px) {
    .breakdown {
      width: 100%; } }
  @media (min-width: 750px) {
    .breakdown {
      width: 60%; } }
  @media (min-width: 1000px) {
    .breakdown {
      width: 42.5%; } }
  .breakdown li {
    position: relative;
    margin: 2.5rem 0rem;
    list-style: none inside;
    text-transform: capitalize;
    letter-spacing: 0.16px; }
  .breakdown--second {
    padding: 0; }

.graph {
  position: absolute;
  right: 0;
  padding: 0;
  top: 2px; }

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #231F20;
  margin: 0 0.3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
  .dot--fill {
    background: #231F20; }

hr {
  border: 0;
  height: 1px;
  margin: 3.5rem 0;
  background: #231F20; }

@media (min-width: 300px) {
  hr.mobileUp {
    display: block; } }
@media (min-width: 750px) {
  hr.mobileUp {
    display: none; } }

@media (min-width: 300px) {
  hr.tabletUp {
    display: none; } }
@media (min-width: 750px) {
  hr.tabletUp {
    display: block; } }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }



/*# sourceMappingURL=main.css.map */
