// MIXINS
@mixin fade($fade) {
-webkit-transition: all $fade;
transition: all $fade;
}

@mixin order($order) {
-webkit-box-ordinal-group:$order;
-moz-box-ordinal-group:$order;
-ms-flex-order:$order;
-webkit-order:$order;
order:$order;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-align($position: relative) {
  position: $position;
  left: 20%;
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-20%);
}