//TYPOGRAPHY
h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: normal;
  font-family: $font-title;
  color: $black;
}
h2, h3, h4, h5, h6 {
  font-family: $font-para;
  font-weight: 500;
}
h1 { 
  @media (#{$bp-larger-than-mobile}){font-size: 4rem; }
  @media (#{$bp-larger-than-tablet}){font-size: 3.6rem; }
  @media (#{$bp-larger-than-desktop}){font-size: 3.8rem; }
  @media (#{$bp-larger-than-desktophd}){font-size: 4.5rem; }
  line-height: 3rem;
  letter-spacing: -.1rem;
}



h2{
  font-size: 2.4rem;
}

h3{
  font-size: 2rem;
}


.date{
  font-size: 1.2rem;
}
.subsub{
  font-size: 1.85rem;
  font-style: italic;
  text-transform: capitalize;
}

.sub{
  margin: 0 0 2rem 0;
  &--education{
    margin: 0;
  }

}

p {
    margin-top: 0;
    font-family: $font-para;
    letter-spacing: 0.01rem;
    @media (#{$bp-larger-than-mobile}) {font-size: 1.6rem; word-spacing: 0.15rem;@include fade(0.5s);line-height: 2.5rem;}
    @media (#{$bp-larger-than-desktop}) {font-size: 1.5rem; word-spacing: 0.1rem; line-height: 2.5rem; @include fade(0.5s);}
    @media (#{$bp-larger-than-desktophd}) {font-size: 1.6rem; word-spacing: 0.15rem; line-height: 2.8rem;}
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: $black;
  background: $yellow;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  @include fade(0.5s);
}
a:hover {
  background: $orange;
   
}
:focus{
  background-color: transparent;
  outline:none;
}

//list objects

ul{
  padding: 0;
  margin: 0;
  margin-left:2rem;
}

li{
  line-height: 2.8rem;
  font-size: 1.6rem;
  list-style-position:outside;
  margin-bottom: 1rem;
}

.button--side{
    background: #231f20;
    padding: .8rem;
    color: #fff;
    border: 2px solid #231f20;
    @include fade(0.5s);
    display: inline;
    line-height: 6rem;
        
    &:hover{
            color: #231f20;
            background: 0 0;
        cursor: pointer;
    }
}